*{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: lightgoldenrodyellow;
  padding: 50px 0px 0px 0px;
  z-index: 0;

}
.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 200px;
}
.footer {
  background-color: black;
  color: #ddd;
  text-align: center;
}
.jumbotron_mio {
  margin: 0px auto;
  padding: 80px 40px;
  background: grey;
  color: floralwhite;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
address {
  font-size: 80%;
  margin: 0px;
  color: white;
}
 
.navbar-dark {
  background-color: black;
}
  
.link{
  color: white;
  text-decoration: none;
  margin: 20px 10px;
  padding: 10px 5px;
  font-size: 25px;
  border: 5px;
  text-align: center;
  cursor: pointer;
}

.link:hover{
  color: khaki;
}

.logo{
  align-self: flex-start;
  justify-content: space-between;
  width: 120px;
  height: 60px;
}

.link2{
  color: white;
  text-decoration: none;
  padding:0.5rem;
  padding-left: 0;
  justify-content: left;
  font-size: 15px;
  text-align: left;
  cursor: pointer;
}

.link2:hover{
  color: khaki;
}

.opcion{
  display: flex;
  color: yellow;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  padding:0.5rem;
  align-items:center;
}

.opcion:hover{
  color: lightgoldenrodyellow;
}

.navbar-dark .navbar-nav .nav-link {
  color: yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 1rem;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: lightgoldenrodyellow;
}

.img{
  max-width: 100%;
  height:auto;
}

.titulo-oscuro {
  background-color:black;
  color: yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.body-claro {
  background-color: rgb(230, 232, 175);
}

.close{
  background-color: yellow;
}

.progress1{
  width: 180px;
  height: 180px;
  line-height: 180px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}

.progress1 > span{
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress1 .progress1-left{
  left: 0;
}

.progress1 .progress1-bar{
  width: 100%;
  height: 100%;
  background: none;
  border-width: 23px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress1 .progress1-left .progress1-bar{
  left: 100%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress1 .progress1-right{
  right: 0;
}

.progress1 .progress1-right .progress1-bar{
  left: -100%;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}

.progress1 .progress1-value{
  width: 100%;
  height: 100%;
  font-size: 24px;
  color: white;
  text-align: center;
  position: absolute;
}

.progress1.blue .progress1-bar{
  border-color:deepskyblue;
}

.progress1.blue:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 23px solid rgb(1, 29, 51);
  position: absolute;
  top: 0;
  left: 0;
}

.progress1.blue .progress1-left .progress1-bar{
  animation: loading-2 1.5s linear forwards 1.8s;
}

.progress1.blue2 .progress1-bar{
  border-color: #2c08f5;
}

.progress1.blue2:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 23px solid rgb(6, 2, 68);
  position: absolute;
  top: 0;
  left: 0;
}

.progress1.blue2 .progress1-left .progress1-bar{
  animation: loading-3 1s linear forwards 1.8s;
}

.progress1.orange .progress1-bar{
  border-color: #f89a2e;
}

.progress1.orange:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 23px solid rgb(56, 32, 1);
  position: absolute;
  top: 0;
  left: 0;
}

.progress1.orange .progress1-left .progress1-bar{
  animation: loading-6 0.4s linear forwards 1.8s;
}

.progress1.fucsia .progress1-bar{
  border-color:deeppink;
}

.progress1.fucsia:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 23px solid rgb(34, 1, 23);
  position: absolute;
  top: 0;
  left: 0;
}

.progress1.fucsia .progress1-left .progress1-bar{
  animation: loading-7 1.2s linear forwards 1.8s;
}

.progress1.green .progress1-bar{
  border-color:rgb(106, 255, 20);
}

.progress1.green:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 23px solid rgb(12, 36, 1);
  position: absolute;
  top: 0;
  left: 0;
}

.progress1.green .progress1-left .progress1-bar{
  animation: loading-4 1.2s linear forwards 1.8s;
}

.progress1.yellow .progress1-bar{
  border-color:rgb(231, 255, 20);
}

.progress1.yellow:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 23px solid rgb(62, 63, 2);
  position: absolute;
  top: 0;
  left: 0;
}

.progress1.yellow .progress1-left .progress1-bar{
  animation: loading-8 1.2s linear forwards 1.8s;
}

.progress1.violeta .progress1-bar{
  border-color:rgb(253, 4, 253);
}

.progress1.violeta:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 23px solid rgb(59, 2, 57);
  position: absolute;
  top: 0;
  left: 0;
}

.progress1.violeta .progress1-left .progress1-bar{
  animation: loading-9 1.2s linear forwards 1.8s;
}

.progress1.turquesa .progress1-bar{
  border-color:rgb(6, 205, 255);
}

.progress1.turquesa:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 23px solid rgb(1, 53, 59);
  position: absolute;
  top: 0;
  left: 0;
}

.progress1.turquesa .progress1-left .progress1-bar{
  animation: loading-4 1.2s linear forwards 1.8s;
}

.progress1.verde .progress1-bar{
  border-color:rgb(7, 252, 178);
}

.progress1.verde:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 23px solid rgb(1, 53, 37);
  position: absolute;
  top: 0;
  left: 0;
}

.progress1.verde .progress1-left .progress1-bar{
  animation: loading-8 1.2s linear forwards 1.8s;
}

@keyframes loading-1{
  0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes loading-2{
  0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}

@keyframes loading-3{
  0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes loading-4{
  0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
}

@keyframes loading-5{
  0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg);
  }
}

@keyframes loading-6{
  0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(126deg);
    transform: rotate(100deg);
  }
}

@keyframes loading-7{
  0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(126deg);
    transform: rotate(0deg);
  }
}

@keyframes loading-8{
  0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(126deg);
    transform: rotate(10deg);
  }
}

@keyframes loading-9{
  0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(126deg);
    transform: rotate(60deg);
  }
}

.div-blak{
  background-color: black;
  width: 60%;
}
.div-claro{
  width: 60%;
}

.html{
  color: deepskyblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 1rem;
}

.css{
  color: #2c08f5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 1rem;
}

.bootstrap{
  color: #f89a2e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 1rem;
}

.react{
  color: deeppink;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 1rem;
}

.angular{
  color: rgb(106, 255, 20);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 1rem;
}

.js{
  color: rgb(231, 255, 20);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 1rem;
}

.phyton{
  color: rgb(253, 4, 253);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 1rem;
}

.node{
  color: rgb(6, 205, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 1rem;
}

.java{
  color: rgb(7, 252, 178);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 1rem;
}

.cuadrado_row{
  margin: 0px auto;
  margin-top: 1px;
  padding: 0px 0px;
  border-bottom: 3px;
  min-height: 150px;
  padding-bottom: 2px;
  border-color: lightgray;
  border-width: 2px;
  border-style: solid;
  width: 75%;
}

.experiencia-titulo{
  font-size: 18px;
  font-weight: bold;
  margin: 1rem 0 0.5rem 0;
}

.experiencia-empresa{
  font-size: 15px;
  font-weight: bold;
}

.experiencia-lugar{
  font-size: 12px;
  font-weight: lighter;
  color: #2c08f5;
  margin-bottom: 0px;
  padding: 0.1rem 0 0.1rem 0;
}

.experiencia-fecha{
  font-size: 12px;
  font-weight: lighter;
  color: #2c08f5; 
  margin-bottom: 0px;
  padding: 0.1rem 0 0.1rem 0;
}

.experiencia-detalle{
  font-size: 13px;
  font-weight: lighter;
  color:rgb(34, 1, 23);
  padding: 1rem 0 0.5rem 0;  
}

.imagen{
  width: 100px;
  height: 100px;
}

.separacion{
  width: 100%;
  height: 20px;
}

.carousel {
  background: #99999b;
}

.carousel-inner .carousel-item {
  height: 600px;
}
.carousel-inner.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 600px;
}

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

.habilidades-blandas{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-content: center;
}

.titulo{
  font-weight: bold;

}

.foto{
  
  width: 300px;
  height: 350px;
  margin: 1rem 0  1rem 0;
}

.about{
  margin: 1rem 0 0.1rem 0;
  font-size: 18px;
  color: rgb(92, 92, 92);
}

.about::first-line{
  color:black;
  font-size: 22px;
}